html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'arial', sans-serif;
}

h1, h2, p {
	margin: 0;
}

.main, .header {
	margin: 0 auto;
	width: 1024px;
	border-radius: 16px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
	border: 1px solid #e0e0e0;
  transition: box-shadow 0.3s ease;
}

.main:hover {
	box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.header {
	height: 100px;
	padding: 20px 10px;
	margin-bottom: 15px;
	text-align: center;
	border-radius: 16px;
}

.header__title {
	font-size: 48px;
	color: blue;
}

.authentication {
	display: flex;
	margin-bottom: 20px;
	gap: 20px;
	justify-content: center;

}

.authentication__form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 10px 20px;
	width: 300px;
	border: 1px solid #e0e0e0;
	border-radius: 16px;
}

.authentication__input {
	padding: 5px 10px;
	width: 250px;
	border: 1px solid #e0e0e0;
	border-radius: 12px;
	font-size: 16px;
}

.authentication__input::placeholder {
	color: green;
}

.authentication__button {
	width: 150px;
	padding: 10px 20px;
	border: none;
	border-radius: 12px;
	font-size: 16px;
	background-color: green;
}

.authentication__button, .task__button  {
	background-color: #007bff;
	color: #ffffff;
	border: none;
	border-radius: 8px;
	padding: 10px 15px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	margin-top: 10px;
}

.authentication__button:hover, , .task__button:hover {
	background-color: #0056b3;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.task__title {
	color: blue;
	margin-bottom: 15px;
}

.task__form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.task__textarea {
	padding: 5px 10px;
	width: 100%;
	min-height: 150px;
	border: 1px solid #e0e0e0;
	border-radius: 12px;
	font-size: 16px;
}

.task__button {
	width: 150px;
}

.task__list {
	list-style: none;
	padding-left: 10px;
}

.task__item:not(:last-child) {
	margin-bottom: 5px;
}

@media (max-width: 1035px) {
	.main, .header {
			width: 90%;
			padding: 10px;
	}
}

@media (max-width: 768px) {
	.authentication {
		flex-direction: column;
    align-items: center;
	}
}